# Ignored files

**/*.mat # data files
**/*.pdf # exported figures
**/*.png # exported figures
**/*.jpg # exported figures
**/*.asv # matlab autosave
**/*~    # emacs autosave
**/*.mexa64 # compiled matlab
codegen/ # compiled matlab
**/*.log # relative to matlab compilation
**/*.prj # relative to matlab compilation