# Ignored files

# data files
**/*.mat

# exported figures
**/*.pdf
**/*.png
**/*.jpg
**/*.gif

# Autosave files
**/*.asv 
**/*~

# Compilation files
**/*.mexa64
codegen/
**/*.log
**/*.prj

# Specific log files
Radios/rx_logs.txt
Radios/test_tx.m
Radios/test_log.txt
Radios/rx_logs.txt
Radios/tx_logs.txt
unlinker.sh
